<%- include('partials/header') %>
<div>
    <h2>Student ID : <%= rollNo %> </h2>
</div>
<div class="row">
    <div class="col-2">
        <div class="container1">
            <% data.forEach(element => {%>
            <button class="btn btn-primary Any" type="button" value=<%= element.id %>
                id=<%= element.id %>><%= element.id %></button>
            <%})%>
        </div>
    </div>

    <div class="col-10">
        <% data.forEach(element => {%>
        <div class="question" id="<%= element.id %>" style="display: none">
            <h1 id="heading">Q<%= element.id %>. <%= element.title %> </h1>
            <%for( i in element.options){%>
            <div class="options">
                <label><%= i %> </label>
                <input type="checkbox" class="bool2" id="<%= element.id %>.<%= i %>"
                    value=[<%= i %>,<%=element.options[i].cont%>,<%= element.options[i].bool %>]>
                <h2> <%= element.options[i].cont %> </h2>
            </div>
            <%}%>
        </div>
        <%})%>

            <div class="row">
                <div class="col-6">

                    <button class="btn btn-primary backward" type="button">BACK</button>

                </div>

                <div class="col-6">

                    <button class="btn btn-primary forward" type="button">NEXT</button>

                </div>

            </div>
            <form action="/submit" method="post" name="f1" class="f1">
                <input type="hidden" name="submit" id="submit" value="gekko">
                <button class="btn btn-primary" id="check" type="button">Submit</button>
                <button class="btn btn-primary" type="submit">Go</button>
            </form>
        </div>





        <%- include('partials/footer') %>