<%- include('partials/header') %>
<input type="hidden" id="mxLength" value=<%= data.length %>>

<div>
    <h1 class="bg-info p-3">Student ID : <%= rollNo %>
    </h1>
    <h1> <span class="badge badge-success"><%= stat.right %> </span>
        <span class="badge badge-danger"><%= stat.wrong %></span>
        <span class="badge badge-primary">Total : <%= stat.right - stat.wrong %> </span></h1>
</div>

<div class="ans-area">
    <div class="row">
        <div class="col-2">
            <div class="container1">
                <% data.forEach(element => {%>
                <button class="btn btn-primary Any" type="button" value=<%= element.id %>
                    id=<%= element.id %>><%= element.id %></button>
                <%})%>
            </div>
        </div>

        <div class="col-10">
            <% data.forEach(element => {%>
            <div class="question" id="<%= element.id %>" style="display: none">
                <pre><h4 id="heading">Q<%= element.id %>. <%= element.title %> </h4></pre>
                <h1>Your Answer : </h1>
                <%for( i in element.check){%>
                <div class="options1">

                    <h3 class="mx-4 px-4"> <%= element.check[i].optCont %> </h3>
                    <%if(element.check[i].optBool){%>
                    <span class="badge badge-success Bool mx-5">
                        <h3 class="resultOpt"> <%= element.check[i].optBool %> </h3>
                    </span>
                    <%}else{%>
                    <span class="badge badge-danger Bool mx-5">
                        <h3 class=""> <%= element.check[i].optBool %> </h3>
                    </span>
                    <%}%>
            </div>
            <%}%>
                    <h1>Correct Answer : </h1>
                    <%for( i in element.corr){%>
                    <div class="options1">

                        <h3 class="mx-4 px-4"> <%= element.corr[i].optCont %> </h3>
                        <%if(element.corr[i].optBool){%>
                        <span class="badge badge-success Bool mx-5">
                            <h3 class="resultOpt"> <%= element.corr[i].optBool %> </h3>
                        </span>
                        <%}else{%>
                        <span class="badge badge-danger Bool mx-5">
                            <h3 class=""> <%= element.corr[i].optBool %> </h3>
                        </span>
                        <%}%>
            </div>
            <%}%>
                    </div>
                    <%})%>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-2">

            <button class="btn btn-primary nav btn-lg" type="button" value="-1">BACK</button>

        </div>

        <div class="col-4">

            <button class="btn btn-primary nav btn-lg" type="button" value="+1">NEXT</button>

        </div>

    </div>

    <div class="col-4 mx-auto">
        <form action="/" method="get">
            <button class="btn btn-primary nav btn-lg" type="submit">End Test </button>
        </form>
    </div>



    <%- include('partials/footer') %>