<%- include('partials/header') %>
<input type="hidden" id="mxLength" value=<%= data.length %>>

<div>
    <h1 class="bg-info p-3">Student ID : <%= rollNo %>
    </h1>
    <h1> <span class="badge badge-success"><%= stat.right %> </span>
        <span class="badge badge-danger"><%= stat.wrong %></span>
        <span class="badge badge-primary">Total : <%= stat.right - stat.wrong %> </span></h1>
</div>
<div style="background-color: #a6a6a4;">
    <form action="/disp" method="get">
        <button class="btn btn-primary shadow">MCQ Section </button>
    </form>
    <form action="/disp1" method="get">
        <button class="btn btn-primary shadow">Intergers Section </button>
    </form>
</div>
<div class="ans-area">
    <div class="row">
        <div class="col-2">
            <div class="container1">
                <% data.forEach(element => {%>
                <button class="btn btn-primary Any" type="button" value=<%= element.id %>
                    id=<%= element.id %>><%= element.id %></button>
                <%})%>
            </div>
        </div>


        <div class="col-10">
            <% data.forEach(element => {%>
            <div class="question" id="<%= element.id %>" style="display: none">
                <h1 id="heading">Q<%= element.id %>. <%= element.title %> </h1>

                <div class="options1">
                    <h3 class="mx-4"> Your Answer </h3>
                    <%if(element.check.optBool){%>
                    <span class="badge badge-success Bool mx-5">
                        <h3 class="resultOpt"> <%= element.check.ans1 %> </h3>
                    </span>
                    <%}else{%>
                    <span class="badge badge-danger Bool mx-5">
                        <h3 class=""> <%= element.check.ans1 %> </h3>
                    </span>

                    <%}%>
            </div>
            <h3>Correct Answer : <%= element.ans2 %> </h3>
                </div>
                <%})%>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 offset-2">

            <button class="btn btn-primary nav" type="button" value="-1">BACK</button>

        </div>

        <div class="col-4">

            <button class="btn btn-primary nav" type="button" value="+1">NEXT</button>

        </div>

    </div>
    <div class="col-4 mx-auto">
        <form action="/" method="get">
            <button class="btn btn-primary nav" type="submit">End Test </button>
        </form>
    </div>


    <%- include('partials/footer') %>